/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/avatars/PoKNq9oAYEHMm5gbV0yYyfbMVywLrldg6SQ0MpPv.jpeg
public/avatars/Dpqo6ndqdfDuEAQ5QkWKhhehhvAQM8vQ8IXT5IGz.jpeg
public/avatars/v465StbANCfQmC90UzKF0UfM99FVmW88LiK5SZVr.png
